Repository automatarium/automatarium, pull requests merged in 2022-05, with the labels that each got.

#113 Testing lab trace preview
  frontend/src/components/TraceOutput/TraceOutput.js
  frontend/src/components/TraceOutput/traceOutputStyle.js
  frontend/src/components/TracePreview/TracePreview.js
  frontend/src/components/TracePreview/tracePreviewStyle.js
  frontend/src/components/index.js
  frontend/src/pages/Editor/components/Sidepanel/Panels/TestingLab/TestingLab.js
  frontend/src/pages/Editor/components/Sidepanel/Panels/TestingLab/testingLabStyle.js
  frontend/src/pages/Editor/components/Sidepanel/sidepanelStyle.js
Labels: enhancement, frontend

#115 Improve trace and error logging
  backend/src/app.ts
  backend/src/config.ts
  backend/src/firebaseAdmin.ts
Labels: enhancement, backend

#119 Refactor frontend interactivity
  frontend/src/components/ContextMenus/ContextMenus.js
  frontend/src/components/ContextMenus/graphContextItems.js
  frontend/src/components/ContextMenus/stateContextItems.js
  frontend/src/components/ContextMenus/transitionContextItems.js
  frontend/src/components/EditorPanel/EditorPanel.js
  frontend/src/components/GraphContent/GraphContent.js
  frontend/src/components/GraphContent/hooks/index.js
  frontend/src/components/GraphContent/hooks/useStateCreation.js
  frontend/src/components/GraphContent/hooks/useStateDragging.js
  frontend/src/components/GraphContent/hooks/useTransitionCreation.js
  frontend/src/components/GraphView/GraphView.js
  frontend/src/components/GraphView/components/index.js
  frontend/src/components/InputDialogs/InputDialogs.js
  frontend/src/components/Menubar/Menubar.js
  frontend/src/components/Menubar/menubarStyle.js
  frontend/src/components/SelectionBox/SelectionBox.js
  frontend/src/components/Sidebar/Sidebar.js
  frontend/src/components/Sidepanel/Panels/TestingLab/TestingLab.js
  frontend/src/components/Sidepanel/Panels/TestingLab/testingLabStyle.js
  frontend/src/components/Sidepanel/Panels/index.js
  frontend/src/components/Sidepanel/Sidepanel.js
  frontend/src/components/Sidepanel/sidepanelStyle.js
  frontend/src/components/StateCircle/StateCircle.js
  frontend/src/components/Toolbar/Toolbar.js
  frontend/src/components/TracePreview/TracePreview.js
  frontend/src/components/TransitionSet/TransitionSet.js
  frontend/src/components/index.js
  frontend/src/hooks/index.js
  frontend/src/hooks/useActions.js
  frontend/src/hooks/useContextMenus.js
  frontend/src/hooks/useEvent.js
  frontend/src/hooks/useStateCreation.js
  frontend/src/hooks/useStateDragging.js
  frontend/src/hooks/useStateSelection.js
  frontend/src/hooks/useTransitionCreation.js
  frontend/src/hooks/useTransitionSelection.js
  frontend/src/pages/Editor/Editor.js
  frontend/src/pages/Editor/components/index.js
  frontend/src/stores/useViewStore.js
  frontend/src/util/events.js
Labels: enhancement
