Repository automatarium/automatarium, pull requests merged in 2022-04, with the labels that each got.

#66 Centralised Hotkey Handler
  frontend/src/components/Dropdown/Dropdown.js
  frontend/src/components/Hotkey/Hotkey.js
  frontend/src/components/index.js
  frontend/src/hooks/index.js
  frontend/src/hooks/useActions.js
  frontend/src/hooks/useHotkeyAction.js
  frontend/src/index.js
  frontend/src/pages/Editor/Editor.js
  frontend/src/pages/Editor/components/Menubar/Menubar.js
  frontend/src/stores/useProjectStore.js
  frontend/src/stores/useSelectionStore.js
Labels: frontend

#68 State Creation
  frontend/src/components/GraphContent/GraphContent.js
  frontend/src/components/GraphContent/hooks/index.js
  frontend/src/components/GraphContent/hooks/useStateCreation.js
  frontend/src/components/SelectionBox/SelectionBox.js
  frontend/src/components/StateCircle/StateCircle.js
  frontend/src/pages/Editor/components/Toolbar/Toolbar.js
  frontend/src/stores/useProjectStore.js
  frontend/src/stores/useViewStore.js
Labels: frontend

#67 Fix Drag Undo History
  frontend/package.json
  frontend/src/components/GraphContent/hooks/useStateDragging.js
  frontend/src/stores/useProjectStore.js
  frontend/yarn.lock
Labels: frontend

#64 JFLAP to Automatarium Conversion
  frontend/yarn.lock
  packages/jflap-translator/.gitignore
  packages/jflap-translator/package.json
  packages/jflap-translator/src/convertJFLAP.js
  packages/jflap-translator/src/index.js
  packages/jflap-translator/tests/sample-data/single-attribute-multiple-states.jff
  packages/jflap-translator/tests/sample-data/single-attribute.jff
  packages/jflap-translator/yarn.lock
Labels: simulation

#65 Finite State Automata Simulation Package
  frontend/package.json
  frontend/yarn.lock
  packages/simulation/.gitignore
  packages/simulation/package.json
  packages/simulation/src/index.js
  packages/simulation/src/simulateFSA.js
  packages/simulation/tests/graphs/dib-NFA1.PNG
  packages/simulation/tests/graphs/dib-NFA2.PNG
  packages/simulation/tests/graphs/dib-NFA3.PNG
  packages/simulation/tests/graphs/dib-NFA4.PNG
  packages/simulation/tests/graphs/dib-nfa.json
  packages/simulation/tests/graphs/dib-nfa2.json
  packages/simulation/tests/graphs/dib-nfa3.json
  packages/simulation/tests/graphs/dib-nfa4.json
  packages/simulation/tests/graphs/dib-nfa4_lambdaloop.json
  packages/simulation/tests/graphs/dib-odd-i.json
  packages/simulation/tests/graphs/dib.json
  packages/simulation/tests/simulateFSA.test.js
  packages/simulation/yarn.lock
Labels: simulation

#78 Testing Lab
  backend/src/controllers/user.ts
  frontend/public/style.css
  frontend/src/components/Button/Button.js
  frontend/src/components/Button/buttonStyle.js
  frontend/src/components/SectionLabel/SectionLabel.js
  frontend/src/components/TextInput/TextInput.js
  frontend/src/components/TextInput/textInputStyle.js
  frontend/src/components/TraceOutput/TraceOutput.js
  frontend/src/components/TraceOutput/traceOutputStyle.js
  frontend/src/components/index.js
  frontend/src/pages/Editor/components/Sidepanel/Panels/TestingLab/TestingLab.js
  frontend/src/pages/Editor/components/Sidepanel/Panels/TestingLab/testingLabStyle.js
  frontend/src/pages/Editor/components/Sidepanel/Panels/index.js
  frontend/src/pages/Editor/components/Sidepanel/Sidepanel.js
  frontend/src/pages/Editor/components/Sidepanel/sidepanelStyle.js
  frontend/src/stores/useProjectStore.js
  packages/simulation/src/simulateFSA.js
Labels: frontend

#89 Add yarn workspace package.json and scripts
  .gitignore
  backend/package.json
  frontend/.gitignore
  frontend/package.json
  package.json
  packages/jflap-translator/.gitignore
  packages/simulation/babel.config.js
  packages/simulation/package.json
  yarn.lock
Labels: enhancement

#87 Fix states being created w/ duplicate IDs
  frontend/src/stores/useProjectStore.js
Labels: bug, frontend

#90 Adjust grid snapping for groups of states
  frontend/src/components/GraphContent/hooks/useStateDragging.js
Labels: bug, frontend

#100 Implement Reflexive Transition Paths
  frontend/src/components/TransitionSet/TransitionSet.js
  frontend/src/config/rendering.js
Labels: enhancement, frontend
